.js-container{
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.js-div{
  border: 1px solid #ccc;
}
.buttonGetAll{
  color: aliceblue;
  background-color: rgb(6, 82, 26);
  border-radius: 8px;
  padding: 6px;
  margin: 15px;
}